@import '../styles/settings';

.viewContent {
  display: flex;
  flex-grow: 1;
  overflow: hidden;

  .sideBar {
    display: flex;
    width: 260px;
    flex-shrink: 0;

    @include tablet {
      width: 0;
    }
  }

  .pageContent {
    overflow: auto;
    display: flex;
    flex-direction: column;
    flex-grow: 1;

    @include tablet {
      margin-left: 45px;
    }

    .page {
      flex-grow: 1;
      padding: 20px;
      margin: auto;
      max-width: 1200px;
      width: 100%;
    }
  }
}
